body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 80px;
  width: auto;
  padding-left: 100px;
}

.header .links ul li a {
  font-weight: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header .links ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 100px;
}

.firstquarter {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  padding: 100px;
  padding-top: 80px;
  gap: 100px;
  align-items: center;
}

.lefttext {
  color: #E5E7EB;
}

.signupbtn {
  background-color: #3882F6;
  border: none;
  border-radius: 5px;
  padding: 7px;
  padding-left: 22px;
  padding-right: 22px;
}

.signupbtn a {
  color: #E5E7EB;
  text-decoration: none;
  font-weight: bold;
}

.lefttext h3 {
  font-weight: 900;
  color: #F9FAF8;
  font-size: 48px;
  margin: 0;
}

.littleimage img {
  width: 100%;
  border-radius: 8px;
}

.secondquarter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 80px;
  padding-top: 60px;
}

.randominfo {
  color: #1F2937;
  font-weight: 900;
  font-size: 36px;
}

.imagequarters {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  padding-left: 200px;
  padding-right: 200px;
}

.littleimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.imagetext {
  font-size: 16px;
  color: #787F89;
}

.thirdquarter {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 100px 300px;
  gap: 20px;
}

.inspiringtext {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.textauthor {
  text-align: end;
  font-weight: bold;
  font-size: 20px;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 16px;
  text-align: center;
}

.bluebox {
  background-color: #3882F6;
  padding: 20px 100px;
  margin: 80px 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.calltext {
  color: #F9FAF8;
}

.biggertext {
  font-weight: bold;
  margin-bottom: 0px;
}

.smallertext {
  margin-top: 2px;
}

.signup button {
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 5px;
  padding: 6px;
}

.signup a {
  text-decoration: none;
  color: #F9FAF8;
  padding: 14px;
  font-weight: bold;
}
